body{
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,rgb(0, 0, 0) 0%, rgb(102, 102, 102) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 6% 10%;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.operatButns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newAdminButn, .changeAdmnButn, .deletAdmnButn, .exitAdminButn{
    height: 90px;
    width: 250px;
    background: linear-gradient(45deg,rgb(0, 0, 0) 0%, rgb(102, 102, 102) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 25px;
    color: white;
}

.newAdminButn:hover, .changeAdmnButn:hover, .deletAdmnButn:hover, .exitAdminButn:hover{
    background: linear-gradient(45deg,rgb(33, 33, 33) 0%, rgb(131, 131, 131) 100%);
    cursor: pointer;
}

.exitAdminButn{
    background: linear-gradient(45deg,rgb(112, 37, 37) 0%, rgb(182, 27, 27) 100%);
}

.exitAdminButn:hover{
    background: linear-gradient(45deg,rgb(108, 26, 26) 0%, rgb(255, 0, 0) 100%);
}