body{
    width: 100%;
    height: auto;
    margin: 0;
}

header{
    width: 100%;
    height: 12%;
    background: linear-gradient(to bottom,rgb(0, 0, 0) 0%, rgb(102, 102, 102) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > .logo{
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-left: 30px;
}

header > .dropDown1{
    position: relative;
    display: inline-block;
}

header > .dropDown1 > .user{
    font-size: 30px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

header > .dropDown1 > .admin{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: gray;
}

header > .dropDown1 > .admin > p{
    display: block;
}

.dropDown1:hover .admin {display: block;}

main{
    width: 100%;
    min-height: 68.3%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
}

main > h1{
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.pustPomesheniya{
    width: 90%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.pustPomesh{
    width: 200px;
    height: 250px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ttlAndPrc{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title{
    color: rgb(0, 0, 0);
}

.price{
    color: rgb(0, 0, 0);
}

.dscrptn{
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

footer{
    width: 100%;
    height: 12%;
    background: linear-gradient(to top,rgb(0, 0, 0) 0%, rgb(102, 102, 102) 100%);
    display: flex;
    justify-content: end;
    align-items: center;
}

footer > .telefon{
    color: white;
    font-size: 30px;
    margin-right: 30px;
}