body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,rgb(0, 0, 0) 0%, rgb(102, 102, 102) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(100, 100, 100);
}

.form{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 2%;
    background-color: white;
    animation: formShadow 0.6s forwards 0.3s;
}

@keyframes formShadow {
    to{box-shadow: 30px 30px rgba(0, 0, 0)}
}

.form h1{
    margin-bottom: 75px;
    font-size: 40px;
}

.input-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    position: relative;
    border-bottom: 3px solid #a0a0a0;
    color: #555;
    transition: all 0.2s;
}

.icon {
    margin-right: 15px;
    font-size: 30px;
}

.custom-input {
    border: none;
    outline: none;
    background-color: transparent; 
    padding: 5px 0; 
    font-size: 20px;
}

.custom-input::placeholder {
    color: #888; 
}

.input-container:focus-within{
    border-bottom: 3px solid #555;
}

button{
    padding: 10px 25px;
    width: 400px;
    height: 60px;
    border-radius: 100px;
    border: none;
    background: linear-gradient(45deg,rgb(0, 0, 0) 0%, rgb(102, 102, 102) 100%);
    color: white;
    font-size: 20px;
    display: block;
    margin: 50px 0;
    transition: all 0.3s ease;
}

button:hover{
    cursor: pointer;
    background: linear-gradient(45deg,rgb(33, 33, 33) 0%, rgb(131, 131, 131) 100%);
}

.msg{
    margin: 10px 0;
    color: red;
    font-size: 20px;
    scale: 0;
    animation: msg 1s forwards 0.3s;
}

@keyframes msg {
    from{scale: 0;}
    to{scale: 1;}
}

.return{
    margin-top: 80px;
    font-size: 20px;
    color: #555;
}

.return:hover{
    color: #212121;
}
