body{
    width: 100%;
}

header{
    width: 100%;
    height: 70px;
    background: linear-gradient(to right,rgb(0, 0, 0) 0%, rgb(102, 102, 102) 100%);
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px black;
    z-index: 1;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo{
    font-size: 50px;
    color: rgb(255, 255, 255);
}

header .container .telefon{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 30px;
}

header .container .telefon .fa-phone{
    width: auto;
    background-color: rgba(255, 255, 255, 0.15);
    color: rgba(0, 160, 255, 0.9);
    border: 2px solid rgba(0, 160, 255, 0.9);
    padding: 5px;
    border-radius: 10px;
}

main{
    width: 100%;
    /* header=70px + footer=70px, остаток заполняем */
    min-height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
    /* отступ равен высоте фиксированного хедера иначе все уходит под header*/
    margin-top: 70px;
}

main h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
}

.filters{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.filter{
    display: flex;
    align-items: center;
    gap: 20px;
}

.button-filter{
    width: 200px;
    height: 57px;
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 15px 50px;
    background-color: rgb(0, 150, 255);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.button-filter:hover{
    background-color: rgb(0, 100, 255);
}

.drop-down{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    background-color: white;
    border: none;
    overflow: hidden;
    box-shadow: 0 0 6px rgb(0, 150, 255);
    width: 200px;
    transform: scaleY(0);
    transform-origin: top center;
    animation: drop-down-animation 0.1s ease-out forwards;
    top: 110%;
}

@keyframes drop-down-animation {
  to {
    transform: scaleY(1);
  }
}

.filter-select-price, .filter-select-square-price{
    padding: 12px 15px;
    background-color: white;
    border: none;
    font-size: 20px;
    color: #1a1a1a;
    cursor: pointer;
    transition: 0.3s;
}

.filter-select-square-price{
    border-top: 2px solid #e0e0e0;
}

.filter-select-price:hover, .filter-select-square-price:hover{
    background-color: #e0e0e0;
}

.searchAndBtn{
    background-color: rgb(0, 150, 255);
    border-radius: 12px;
}

.filter form{
    display: flex;
    align-items: center;
}

.search{
    border: 2px solid rgb(0, 150, 255);
    padding: 15px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}

.search input{
    border: none;
    outline: none;
    width: 500px;
    font-size: 20px;
}

.search i{
    font-size: 18px;
    color: gray;
}

.filter form input[type="submit"]{
    background-color: rgb(0, 150, 255);
    padding: 17px 30px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.filter form input[type="submit"]:hover{
    background-color: rgb(0, 100, 255);
}

.price-modal, .square-price-modal{
    position: fixed;
    padding: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(30px);
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 10px;
    z-index: 3;
    opacity: 0;
    animation: modalAppearFromBottom 0.5s forwards;
}

@keyframes modalAppearFromBottom {
    to{
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0);
    }
}

.price-modal .xmark, .square-price-modal .xmark{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 15px;
    font-size: 20px;
}

.price-modal .xmark i, .square-price-modal .xmark i{
    cursor: pointer;
    transition: 0.3s;
}

.price-modal .xmark i:hover, .square-price-modal .xmark i:hover{
    color: rgb(200, 50, 50);
    transform: scale(1.15);
}

.modal-h2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-h2 h2{
    margin-bottom: 25px;
}

.price-modal label, .square-price-modal label{
    font-weight: bold;
    font-size: 16px;
}

.price-modal input[type="number"], .square-price-modal input[type="number"]{
    padding: 10px;
    border-radius: 12px;
    border: 2px solid gray;
    outline: none;
    margin-bottom: 25px;
    margin-top: 5px;
    font-size: 20px;
}

.price-modal input[type="submit"], .square-price-modal input[type="submit"]{
    background-color: rgb(0, 150, 255);
    padding: 12px 80px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.price-modal input[type="submit"]:hover, .square-price-modal input[type="submit"]:hover{
    background-color: rgb(0, 100, 255);
}

.selectType{
    display: flex;
    align-items: center;
    gap: 10px;
}

.selectType a{
    background-color: rgb(230, 230, 230);
    padding: 15px 20px;
    border: 2px solid transparent;
    border-radius: 12px;
    color: black;
    font-size: 20px;
    transition: 0.2s;
}

.selectType a:hover{
    background-color: rgb(210, 210, 210);
}

.pustPomesheniya{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.pustPomesh{
    width: 350px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    transition: 0.15s;
    color: black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
    opacity: 0;
    transform: translateY(30px);
    animation: appearanceFromBottom 0.6s forwards;
}

@keyframes appearanceFromBottom {
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.img{
    width: 100%;
    height: 225px;
    background-color: rgb(200, 200, 200);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
}

.title, .square_price, .price, .location{
    font-size: 16px;
    margin: 5px 0;
    padding: 0 10px;
    color: black;
    transition: 0.3s;
}

.title{
    margin-top: 12px;
}

.title:hover{
    color: blue;
}

.price{
    font-size: 18px;
    font-weight: bold;
}

.fa-location-dot{
    margin-right: 5px;
    font-size: 14px;
}

.btn-pustPomesh{
    width: calc(100% - 20px);
    height: 40px;
    font-size: 16px;
    margin: 20px 0 0 10px;
    background-color: rgb(240, 240, 240);
    color: rgba(0, 72, 255, 0.9);
    font-weight: bold;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: 0.3s;
}

.btn-pustPomesh:hover{
    color: rgb(0, 30, 255);
    border: 2px solid rgb(0, 30, 255);
}

footer{
    width: 100%;
    height: 70px;
    background: linear-gradient(to right,rgb(0, 0, 0) 0%, rgb(102, 102, 102) 100%);
    color: white;
    box-shadow: 0 0 10px black;
}

footer .container{
    display: flex;
    align-items: center;
}

footer .container .copyright{
    color: white;
    font-size: 20px;
}

.cover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    overflow: hidden;
    z-index: 2;
}

@media(max-width: 1500px){
    .pustPomesheniya{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 1200px){
    .pustPomesheniya{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 768px){
    header .container .logo{
        font-size: 30px;
    }

    header .container .telefon{
        font-size: 20px;
    }

    main h1{
        font-size: 40px;
    }

    .filter{
        gap: 10px;
    }

    .button-filter{
        width: 100px;
        height: 38.4px;
        padding: 5px 12px;
        font-size: 16px;
    }

    .search{
        padding: 8px;
    }

    .search input{
        width: 160px;
        font-size: 16px;
    }

    .search i{
        font-size: 14px;
    }

    .filter form input[type="submit"]{
        padding: 10px 15px;
        font-size: 16px;
    }

    .selectType a{
        padding: 10px 16px;
        font-size: 16px;
    }

    .pustPomesheniya{
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .pustPomesh{
        width: 200px;
        border-radius: 8px;
        padding-bottom: 10px;
    }

    .img{
        height: 120px;
        border-radius: 8px;
    }

    .title, .square_price, .price, .location{
        font-size: 10px;
        margin: 3px 0;
        padding: 0 8px;
    }

    .price{
        font-size: 12px;
    }

    .fa-location-dot{
        margin-right: 4px;
        font-size: 8px;
    }

    .btn-pustPomesh{
        width: calc(100% - 16px);
        height: 26px;
        font-size: 10px;
        margin: 10px 0 0 8px;
        border-radius: 4px;
        gap: 10px;
    }

    footer .container .copyright{
        font-size: 16px;
    }
}

@media(max-width: 655px){
    .pustPomesheniya{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 445px){
    header{
        height: 50px;
    }
    
    header .container .logo{
        font-size: 30px;
    }

    header .container .telefon{
        font-size: 18px;
        gap: 10px;
    }

    main{
        /* header=50px + footer=50px, остаток заполняем */
        min-height: calc(100vh - 100px);
        /* отступ равен высоте фиксированного хедера иначе все уходит под header*/
        margin-top: 50px;
        gap: 30px;
        padding: 20px 0;
    }

    main h1{
        font-size: 30px;
    }

    .button-filter{
        width: 80px;
        height: 36px;
        padding: 5px 5px;
        font-size: 14px;
    }

    .search input{
        font-size: 14px;
    }

    .search i{
        font-size: 13px;
    }

    .filter form input[type="submit"]{
        font-size: 14px;
    }

    .selectType a{
        font-size: 14px;
    }

    .pustPomesh{
        width: 180px;
        border-radius: 6px;
        padding-bottom: 8px;
    }

    .img{
        border-radius: 6px;
    }

    .title, .square_price, .price, .location{
        font-size: 8px;
        margin: 3px 0;
        padding: 0 6px;
    }

    .price{
        font-size: 10px;
    }

    .fa-location-dot{
        margin-right: 3px;
    }

    .btn-pustPomesh{
        width: calc(100% - 12px);
        font-size: 10px;
        margin: 10px 0 0 6px;
        gap: 8px;
    }

    footer{
        height: 50px
    }

    footer .container .copyright{
        font-size: 14px;
    }
}

.main-content{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 50px;
    margin: 0 80px;
}


.item-left, .item-right{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.item-left{
    position: sticky;
    top: 120px;
    align-self: start;
}

.back-arrow{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    color: rgb(115, 115, 115);
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s;
}

.back-arrow:hover{
    color: rgb(81, 81, 81);
    border-bottom: 2px solid rgb(81, 81, 81);
}

.item-main-foto{
    margin-top: 20px;
    width: 100%;
    height: 60vh;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item-caruosel-fotos{
    position: relative;
    width: 990px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    gap: 20px;
}

.item-caruosel-block{
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.item-fotos{
    position: absolute;
    width: fit-content;
    left: 0;
    height: 120px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-caruosel-foto{
    position: relative;
    left: 0;
    width: 200px;
    height: 120px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.item-caruosel-fotos button{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 100px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: 0.2s;
}

.item-caruosel-fotos button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.item-caruosel-foto:hover{
    transform: scale(1.06);
}

.item-h1{
    margin-bottom: 15px;
}

.item-location{
    color: rgb(101, 101, 101);
    font-size: 20px;
}

.fa-location-dot{
    font-size: 16px;
}

.item-prices{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.item-prices label{
    font-size: 22px;
    color: rgb(101, 101, 101);
}

.item-price{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-square_price{
    font-size: 25px;
    color: rgb(0, 100, 255);
    font-weight: bold;
}

.item-map{
    width: 100%;
}

.item-call-container{
    display: flex;
    justify-content: center;
}

.item-call{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 600px;
    height: 80px;
    background-color: rgb(0, 100, 255);
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.item-call:hover{
    background-color: rgb(0, 50, 255);
}

.item-description-block{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    font-size: 25px;
}

.item-description{
    color: rgb(70, 70, 70);
    font-size: 18px;
}

@media(max-width: 1800px){
    .main-content{
        grid-template-columns: 1fr;
        margin: 0 800px;
    }

    .item-left{
        position: static;
    }

    .item-caruosel-fotos{
        width: 780px;
        height: 96px;
    }
}

@media(max-width: 850px) {
    .main-content{
        gap: 50px;
    }

    .item-left, .item-right{
        gap: 50px;
    }

    .back-arrow{
        gap: 10px;
        font-size: 14px;
    }

    .item-main-foto{
        margin-top: 20px;
        width: 100%;
        height: 60vh;
        border-radius: 10px;
    }

    .item-caruosel-fotos{
        width: 530px;
        height: 60px;
        gap: 10px;
    }

    .item-caruosel-block{
        width: 100%;
        height: 120px;
    }

    .item-fotos{
        height: 120px;
        gap: 10px;
    }

    .item-caruosel-foto{
        width: 50px;
        height: 30px;
        border-radius: 10px;
        padding: 2px;
    }

    .item-caruosel-fotos button{
        padding: 10px;
        font-size: 14px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }

    .item-caruosel-fotos button:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }

    .item-caruosel-foto:hover{
        transform: scale(1.06);
    }

    .item-h1{
        margin-bottom: 15px;
        font-size: 14px;
    }

    .item-location{
        font-size: 14px;
    }

    .fa-location-dot{
        font-size: 14px;
    }

    .item-prices{
        gap: 10px;
        padding: 30px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .item-prices label{
        font-size: 14px;
    }

    .item-price{
        font-size: 14px;
        margin-bottom: 10px;
    }

    .item-square_price{
        font-size: 14px;
    }

    .item-map{
        width: 100%;
    }

    .item-call{
        gap: 10px;
        width: 600px;
        height: 80px;
        border-radius: 10px;
        font-size: 14px;
    }

    .item-description-block{
        gap: 30px;
        padding: 30px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        font-size: 14px;
    }

    .item-description{
        font-size: 14px;
    }
}